<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="login" href="login.component.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        
    </head>
    
    <body>
      
        <div class="wrapper">
            <form [formGroup]="form" (ngSubmit)="recovery()">
                <h1>{{'recover.recover' | transloco }}</h1>
                <div class="input-box">
                    <input type="text" formControlName="email" matInput placeholder="{{'recover.email' | transloco }}">
                    <i class='bx bxs-user'></i>
                </div>

                <button type = "submit" mat-raised-button class="btn">{{'recover.recover' | transloco }}</button>
            </form>
            <div class="space"><app-combo></app-combo></div>
        </div>

    </body>

</html>
