<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="login" href="login.component.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form [formGroup]="form" (ngSubmit)="confirm()">
            <h1>{{'confirmP.contraseña' | transloco }}</h1>

            <!-- Primer input -->
            <div class="input-box">
                <input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password" 
                    formControlName="password" placeholder="{{'confirmP.contraseña' | transloco }}" name="password">
                <button type="button" (click)="togglePasswordVisibility()">
                    <i class="bx button0" [ngClass]="showPassword ? 'bxs-show' : 'bxs-hide'"></i>
                </button>
            </div>

            <!-- Segundo input -->
            <div class="input-box">
                <input type="{{ showPassword1 ? 'text' : 'password' }}" [(ngModel)]="password1"
                 formControlName="password1" placeholder="{{'confirmP.confirmar' | transloco }}" name="password1">
                <button type="button" (click)="togglePasswordVisibility1()">
                    <i class="bx button1" [ngClass]="showPassword1 ? 'bxs-show' : 'bxs-hide'"></i>
                </button>
            </div>
            <div class="lb" *ngIf="form.hasError('passwordMismatch')">
                {{'confirmP.no' | transloco }}
            </div>
              
            <button type="submit" [disabled]="!form.valid" mat-raised-button class="btn">{{'confirmP.cambiar' | transloco }}</button>
        </form>
        <div class="space"><app-combo></app-combo></div>
    </div>

</body>

</html>