#lista5 {
    counter-reset: li; 
    list-style: none; 
    list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    
}

#lista5 ol {
    margin: 0 0 0 2em; 
}

#lista5 {
    list-style-type: none;
    list-style-type: decimal ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 1em;
    padding: 0;
     
    counter-reset: li-counter;
    margin-top: 50px;
}

#lista5 > li {
    position: relative;
    margin-bottom: 1.5em;
    padding: 1.5em;
    background-color: #eaeaea;
    width: 50%;
    margin: 0 auto;
  }
  
  #lista5 > li:not(:last-child) {
    margin-bottom: 3em; /* Ajusta el espacio entre los elementos de lista */
  }

#lista5 > li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;
     
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: #464646;
    background-color: #d0d0d0;
     
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;
     
    content: counter(li-counter);
    counter-increment: li-counter;
}
.title h1{
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-family: Monospace, sans-serif; 
    margin-top: 20px;
    margin-bottom: 40px;
    color: #5a0553;
  }
.label{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: Monospace, sans-serif; 
    margin-top: 20px;
    margin-bottom: 40px;
    color: #f30808;
}
.centrar{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.custom-button {
    background-color: #8e44ad; /* Temática morada */
    border: none; /* Sin borde */
    border-radius: 8px; /* Esquinas redondeadas */
    color: white; /* Texto blanco para mayor contraste */
    padding: 8px 16px; /* Espaciado interior del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.custom-button:hover {
    background-color: #6c3483; /* Cambio de color al pasar sobre el botón */
}
.space{
    text-align: right;
    margin-top: 22px;
    margin-right: 10px;
  }