#lista2 {
    counter-reset: li; 
    list-style: none; 
    list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    
}

#lista2 ol {
    margin: 0 0 0 2em; 
}

#lista2 li{
    justify-content: center;
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
    padding: 1em 2em; /* Aumenta el padding para hacer cada elemento más grande */
    font-size: 20px; /* Aumenta el tamaño de fuente para hacer el texto más grande */
}

#lista2 li:hover{
    background: #eee;
}

#lista2 li:hover:before{
    transform: rotate(360deg);  
}

#lista2 li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
#lista2-container {
    text-align: left;
    max-width: 700px; /* Cambia este valor según tus preferencias */
    margin: 0 auto; /* Esto centra el contenedor */
}
.list-button {
    float: right; /* Mueve el botón a la derecha */
    margin-left: 1em; /* Agrega un poco de espacio entre el texto y el botón */
    background-color: #4CAF50; /* Establece el color de fondo del botón */
    color: white; /* Establece el color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 0.5em 1em; /* Ajusta el padding del botón según tus preferencias */
    border-radius: 0.3em; /* Agrega esquinas redondeadas al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
.title {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 80px;
}
.label{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: Monospace, sans-serif; 
    margin-top: 20px;
    margin-bottom: 40px;
    color: #f30808;
}
.space{
    text-align: right;
    margin-top: 22px;
    margin-right: 10px;
  }